{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/mascara-input.js' %}" defer type="text/javascript"></script>
    {% block imports %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid mx-2">
      <span class="d-flex align-items-center">
        {% if request.resolver_match.url_name != 'home' %}
        <button type="button" class="btn text-white fs-4 px-2 p-0 me-3" onclick="window.history.back()">
          <i class="bi bi-chevron-left"></i>
        </button>
        {% endif %}
        <a class="navbar-brand" href="{% url 'home' %}">IMEIGuard</a>
      </span>
      {% if user.is_authenticated %}
        <div class="btn-group dropstart">
          <button type="button" class="btn text-white fs-4 px-2 p-0" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{% url 'home' %}" class="dropdown-item"><i class="bi bi-house mx-2"></i>Início</a></li>
            <li><a href="{% url 'historico' %}" class="dropdown-item"><i class="bi bi-clock-history mx-2"></i>Histórico</a></li>
              {% if user.is_superuser %}
                <li><a href="{% url 'cad_user' %}" class="dropdown-item"><i class="bi bi-people mx-2"></i>Cadastrar usuário</a></li>
              {% endif %}
              <li><a href="{% url 'password' %}" class="dropdown-item"><i class="bi bi-lock mx-2"></i>Alterar senha</a></li>
              <li><a href="{% url 'download_apk' %}" class="dropdown-item"><i class="bi bi-download mx-2"></i>Baixar aplicativo</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{% url 'exit' %}" class="dropdown-item"><i class="bi bi-arrow-return-left mx-2"></i>Sair</a></li>
            </ul>
        </div>
      {% endif %}
    </div>
  </nav>

  <main class="d-flex flex-column justify-content-center align-items-center">
    {% block content %}
    {% endblock %}
  </main>



  <footer class="mt-4">
    <p class="text-secondary text-center">
      &copy; 2024 IMEIGuard | SIAC - SEGUP
    </p>
    <div class="p-3 bg-dark text-center">
      <img src="{% static 'img/banner_segup.png' %}" width="250px">
    </div>
  </footer>
</body>
</html>