{% extends 'base.html' %}
{% load static %}

{% block imports %}
{% endblock %}

{% block content %}

<div class="d-flex flex-column w-100 align-items-center px-4" style="max-width: 400px;">
    <div class=" mb-3">
        <span class="text-secondary fw-bold fs-2">Alterar senha</span>
    </div>
    {% if form.errors %}
        <ul class="list-group mb-0 mt-4 p-2">
            {% for field in form %}
                {% for error in field.errors %}
                    <li class="list-group-item list-group-item-danger"><i class="bi bi-exclamation-triangle"></i> {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" class="mt-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_old_password">Senha antiga:</label>
            <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus="" required id="id_old_password">        
        </div>
        <div>
            <label for="id_new_password1">Nova senha:</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1">
        </div>
        <div>
            <label for="id_new_password2">Confirmação da nova senha:</label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </div>
        <div class="helptext" id="id_new_password1_helptext"><ul><li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li><li>Sua senha precisa conter pelo menos 8 caracteres.</li><li>Sua senha não pode ser uma senha comumente utilizada.</li><li>Sua senha não pode ser inteiramente numérica.</li></ul></div>
        <button type="submit" class="btn mt-4 w-100 btn-success">Salvar</button>
    </form>
</div>

{% endblock %}