{% extends 'base.html' %}
{% load static %}

{% block imports %}
{% endblock %}
{% block content %}
<h2 class="text-dark my-4">Historico do dia</h2>

{% if historico %}
<div class="px-4 w-100 d-flex justify-content-center">
    <table class="table table-hover" style="max-width: 500px;">
        <tr class="bg-white">
            <th class="py-3">IMEI</th>
            <th class="py-3">Hora</th>
            <th class="text-end py-3">Resultado</th>
        </tr>
        {% for h in historico %}
        <tr onclick="window.location.href = '/result/?imei={{h.pesquisa}}'" style="cursor: pointer;">
            <td class="py-4">{{h.pesquisa}}</td>
            <td class="py-4"> {{h.data_pesquisa|date:"H:i"}}</td>
            <td class="text-end p-4">
                {% if h.bop_resultado %}
                <i class="bi bi-exclamation-triangle-fill text-danger"></i>
                {% else %}
                <i class="bi bi-check-circle-fill text-success"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <div class="text-secondary">
        Nenhum histórico registrado
    </div>
{% endif %}

{% endblock %}