{% extends 'base.html' %}
{% load static %}

{% block imports %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/html5-qrcode.min.js' %}" defer type="text/javascript"></script>
<script src="{% static 'js/home.js' %}" defer type="text/javascript"></script>
{% endblock %}

{% block content %}
<form method="GET" action="{% url 'result' %}" class="mx-3 text-center" id="pesquisa">
    <h1 class="mb-5 text-center">Pesquisar IMEI</h1>
    <div class="input-group form-control rounded-pill">
        <div class="d-flex flex-row align-items-center rounded-pill">
            <!-- <i class="bi bi-search fs-6 me-3 text-secondary"></i> -->
            <span class="text-secondary me-2"> IMEI</span>
            <input type="text" inputmode="numeric" oninput="mascara(this)" name="imei" mask="imei" required class="border-0 p-0 fs-5 w-100" id="imei-input">
            <button type="button" class="btn text-center rounded-pill border-0 z-1" onclick="showScanner()">
                <i class="bi bi-upc-scan fs-5 text-primary text-bold"></i>
            </button>
            <button type="submit" class="btn btn-primary px-3 rounded-pill">
                <i class="bi bi-search fs-6"></i>
                <!-- Pesquisar -->
            </button>
        </div>
    </div>
</form>
<container id="scanner-container" class='d-none w-100 h-100 position-absolute z-3 d-flex justify-content-center align-items-center'>
    <modal class='bg-white w-100 mx-1 shadow border rounded p-3 pt-0 position-relative' style="max-width:500px;" id="modal-scan">
        <div class="d-flex align-items-center justify-content-between position-relative my-3">
            <span class="text-center text-secondary w-100">Escaneie do código de barras do IMEI</span>
            <button type="button" onclick="ScannerBox('remove')" class="btn-close" aria-label="Close"></button>
        </div>
        <div id="reader" class="mx-3"></div>
        <div id="resultado" class="d-none border rounded d-flex flex-row justify-content-center align-items-center mx-3 mt-3 p-2"></div>
    </modal>
    
</container>
<div class="d-flex justify-content-center align-items-center">
    <a href="{% url 'historico' %}" class="text-secondary btn-sm mt-5 mx-2">
        Histórico de resultados
    </a>
</div>
{% endblock %}