
<button class="btn {% if recuperado.bop_delito_id == boletim.id and recuperado.bop_apresentacao and not recuperado.bop_entrega %}btn-success{% elif recuperado.bop_delito_id == boletim.id and recuperado.bop_entrega %}btn-primary{% elif empty or recuperado.bop_delito_id != boletim.id %}btn-danger{% endif%} rounded-top-0 w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom{{boletim.id}}" aria-controls="offcanvasBottom{{boletim.id}}">
     {% if recuperado.bop_delito_id == boletim.id and recuperado.bop_apresentacao and not recuperado.bop_entrega %}Recuperado{% elif recuperado.bop_delito_id == boletim.id and recuperado.bop_entrega %}Devolvido{% elif empty or recuperado.bop_delito_id != boletim.id %}Marcar como recuperado{% endif%}
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBottom{{boletim.id}}" aria-labelledby="offcanvasBottomLabel{{boletim.id}}" style="height: auto !important;">
    <div class="offcanvas-header text-white bg-dark" data-bs-theme="dark">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel{{boletim.id}}">
            {% if recuperado.bop_delito_id == boletim.id and recuperado.bop_apresentacao and not recuperado.bop_entrega %}Recuperado#{{recuperado.id}}</span>{% elif recuperado.bop_delito_id == boletim.id and recuperado.bop_entrega %}Devolvido#{{recuperado.id}}</span>{% elif empty or recuperado.bop_delito_id != boletim.id %}Marcar como recuperado{% endif%}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <div class="px-4 mt-2 w-100 d-flex justify-content-center">
            <form action="{% url 'rec' %}" method="POST" class="w-100" style="max-width: 400px;">
                {% csrf_token %}
                <div class="d-flex flex-row">
                    <div>
                        <label for="id_instituicao">IMEI 1</label>
                        <input type="text" inputmode="numeric" oninput="mascara(this)" name="imei1" required class="form-control" mask="imei" id="imei-input1" {% if recuperado.bop_delito_id == boletim.id and recuperado.imei1 %} value="{{recuperado.imei1}}"{% else %} value="{{request.GET.imei}}"{% endif %} readonly>
                    </div>
                    <div>
                        <label for="id_instituicao">IMEI 2</label>
                        <input type="text" inputmode="numeric" oninput="mascara(this)" name="imei2" class="form-control" id="imei-input2" mask="imei" {% if recuperado.bop_delito_id == boletim.id and recuperado.imei2 %} value="{{recuperado.imei2}}" readonly {% elif recuperado.bop_delito_id == boletim.id and recuperado.imei1 != request.GET.imei %} value="{{request.GET.imei}}" readonly {% endif %}>
                    </div>
                </div>
                
                <label for="id_bop_apresentacao">B.O Apresentação:</label>
                <input class="form-control" mask="bop" inputmode="numeric" oninput="mascara(this)" type="text" name="bop_apresentacao" maxlength="19" required id="id_bop_apresentacao" {% if recuperado.bop_delito_id == boletim.id and recuperado.bop_apresentacao %} value="{{recuperado.bop_apresentacao}}" readonly{% endif %}>

                <label for="id_instituicao">Instituicao Apresentante:</label>
                <select name="instituicao" class="form-select" id="id_instituicao" required{% if recuperado.bop_delito_id == boletim.id and recuperado.id_inst_apresentacao %} readonly {% endif %}>
                    <option value="" {% if recuperado.bop_delito_id == boletim.id and not recuperado.id_inst_apresentacao %} selected {% endif %}></option>
                    <option value=1 {% if recuperado.bop_delito_id == boletim.id and recuperado.id_inst_apresentacao == 1 %} selected {% endif %}>PM</option>
                    <option value=2 {% if recuperado.bop_delito_id == boletim.id and recuperado.id_inst_apresentacao == 2 %} selected {% endif %}>PC</option>
                    <option value=3 {% if recuperado.bop_delito_id == boletim.id and recuperado.id_inst_apresentacao == 3 %} selected {% endif %}>SEGUP</option>
                    <option value=4 {% if recuperado.bop_delito_id == boletim.id and recuperado.id_inst_apresentacao == 4 %} selected {% endif %}>DETRAN</option>
                    <option value=5 {% if recuperado.bop_delito_id == boletim.id and recuperado.id_inst_apresentacao == 5 %} selected {% endif %}>GUARDA MUNICIPAL</option>
                    <option value=6 {% if recuperado.bop_delito_id == boletim.id and recuperado.id_inst_apresentacao == 6 %} selected {% endif %}>SEAP</option>
                </select>
                
                <input type="hidden" name="id_bop" value="{{boletim.id}}">
                <input type="hidden" name="pesquisa" value="{{request.GET.imei}}">

                <label for="id_bop_entrega">B.O Entrega:</label>
                <input class="form-control" mask="bop" oninput="mascara(this)" type="text" name="bop_entrega" maxlength="19" id="id_bop_entrega" {% if usuario.instituicao != 'PC'%}placeholder="Polícia Civil" readonly{% endif %} {% if recuperado.bop_delito_id == boletim.id and recuperado.bop_entrega %} value="{{recuperado.bop_entrega}}" readonly{% endif %}>
                                    
                {% if recuperado.bop_delito_id == boletim.id and recuperado.data_manutencao%}<p class="text-secondary mt-3 text-end">Atualização: {{recuperado.data_manutencao|date:"d/m/Y H:i"|default_if_none:""}}</p>{% endif %}

                {% if recuperado.bop_delito_id == boletim.id and not recuperado.bop_entrega or not recuperado.imei1 or not recuperado.imei2 or not recuperado.bop_apresentacao or not recuperado.id_inst_apresentacao%}<button type="submit" class="btn w-100 mt-4 btn-primary">Salvar</button>{% endif %}
            </form>
        </div>
    </div>
</div>