{% extends 'base.html' %}
{% load static %}

{% block imports %}
<script src="{% static 'js/resultado.js' %}" defer type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center p-3">
    {% if erro %}
        <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 50px;"></i>
        {{erro}}
    {% else %}
        <i class="bi {% if resultado|length == 0 %} bi-check-circle-fill text-success{% else %}bi-exclamation-triangle-fill text-danger{% endif %}" style="font-size: 50px;"></i>
        <span class="text-center mt-2">
            Foram encontrados <strong>{{resultado|length}}</strong> registro(s) para o <strong>IMEI</strong> {{ request.GET.imei }}
        </span>
    {% endif %}
</div>

<hr class="w-75">



{% for boletim in resultado %}
<div class="border shadow rounded text-dark my-2 w-75" style="max-width: 400px;">
    <div class="bg-danger text-white p-2 rounded-top text-center">
        {{boletim.registros|default_if_none:"Informação temporariamente indisponílvel"}}
    </div>
    <div class="p-3">
        <div>
            <strong>Boletim:</strong> {{boletim.nro_bop}}
        </div>
        <div>
            <strong>Data registro:</strong> {{boletim.data_registro|date:"d/m/Y" }}
        </div>
        <div>
            <strong>Data fato:</strong> {{boletim.data_fato|date:"d/m/Y"}}
        </div>
        <div>
            <strong>Vítima</strong> {{boletim.nome_pessoa|default_if_none:"Informação temporariamente indisponílvel"}}
        </div>
    </div>
    <div class="accordion" id="accordion{{forloop.counter}}">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                {% if list_recuperacao|length != resultado|length %}
                    {% if list_recuperacao|length == 0 %}
                    <button class="accordion-button collapsed rounded-0 alert alert-danger m-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                        Marcar como recuperado
                    </button>
                    {% endif %}
                    {% for recuperacao in list_recuperacao %}
                        {% for registro in recuperacao %}
                            {% if boletim.id != registro.bop_delito.id %}
                                <button class="accordion-button collapsed rounded-0 alert alert-danger m-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.parentloop.parentloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.parentloop.parentloop.counter}}">
                                    Marcar como recuperado
                                </button>
                                {% endif%}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% for recuperacao in list_recuperacao %}
                    {% for registro in recuperacao %}
                        {% if boletim.id == registro.bop_delito.id %}
                            <button class="accordion-button collapsed rounded-0 alert alert-success m-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.parentloop.parentloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.parentloop.parentloop.counter}}">
                                Dispositivo Recuperado<i class="bi bi-check-circle-fill" style="font-size: 20px; padding-left: 5px;"></i>
                            </button>
                        {% endif%}
                    {% endfor %}
                {% endfor %}
            </h2>
            <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush{{forloop.counter}}">
            <div class="accordion-body">
                {% if list_recuperacao|length != resultado|length %}
                    {% if list_recuperacao|length == 0 %}
                        <form action="{% url 'rec' %}" method="POST" class="mt-2">
                            {% csrf_token %}
                            <label for="id_bop_apresentacao">B.O Apresentação:</label>
                            <input class="form-control" mask="bop" oninput="mascara()" type="text" name="bop_apresentacao" autofocus="" autocapitalize="none" autocomplete="bop_apresentacao" maxlength="19" required="" id="id_bop_apresentacao" value="{% for recuperacao in list_recuperacao %}{% for registro in recuperacao %}{% if boletim.id == registro.bop_delito.id %}{{registro.bop_apresentacao}}{% endif%}{% endfor %}{% endfor %}">
                            <label for="id_instituicao">Instituicao Apresentante:</label>
                            <select name="instituicao" class="form-select" id="id_instituicao" required="">
                                <option value="" selected=""></option>
                                <option value=1>PM</option>
                                <option value=2>PC</option>
                                <option value=3>SEGUP</option>
                                <option value=4>DETRAN</option>
                                <option value=5>GUARDA MUNICIPAL</option>
                                <option value=6>SEAP</option>
                            </select>
                            <input type="hidden" name="id_bop" value="{{boletim.id}}">
                            <input type="hidden" name="imei" value="{{request.GET.imei}}">
                            {% if usuario.instituicao == 'PC'%}
                                <label for="id_bop_entrega">B.O Entrega:</label>
                                <input class="form-control" mask="bop" oninput="mascara()" type="text" name="bop_entrega" autofocus="" autocapitalize="none" autocomplete="bop_entrega" maxlength="19" id="id_bop_entrega">
                            {% else %}
                                <label for="id">B.O Entrega:</label>
                                <input class="form-control" mask="bop" oninput="mascara()" type="text" name="" autofocus="" autocapitalize="none" autocomplete="" maxlength="19" id="" disabled placeholder="Polícia Civil">
                            {% endif %}
                            <button type="submit" class="btn mt-4 w-100 btn-primary">Salvar</button>
                        </form>
                    {% endif %}
                    {% for recuperacao in list_recuperacao %}
                        {% for registro in recuperacao %}
                            {% if boletim.id != registro.bop_delito.id%}
                                <form action="{% url 'rec' %}" method="POST" class="mt-2">
                                    {% csrf_token %}
                                    <label for="id_bop_apresentacao">B.O Apresentação:</label>
                                    <input class="form-control" mask="bop" oninput="mascara()" type="text" name="bop_apresentacao" autofocus="" autocapitalize="none" autocomplete="bop_apresentacao" maxlength="19" required="" id="id_bop_apresentacao" value="{% for recuperacao in list_recuperacao %}{% for registro in recuperacao %}{% if boletim.id == registro.bop_delito.id %}{{registro.bop_apresentacao}}{% endif%}{% endfor %}{% endfor %}">
                                    {% if boletim.id == registro.bop_delito.id and registro.id_inst_apresentacao %}
                                        {% for i in instituicao %}
                                            {% if boletim.id == registro.bop_delito.id and  registro.id_inst_apresentacao == i.id_instituicao %}
                                                <label >Instituição Apresentação:</label>
                                                <input class="form-control" type="text" placeholder="{{i.ds_instituicao|default_if_none:''}}" readonly disabled>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                    <label for="id_instituicao">Instituicao Apresentante:</label>
                                    <select name="instituicao" class="form-select" id="id_instituicao" required="">
                                        <option value="" selected=""></option>
                                        <option value=1>PM</option>
                                        <option value=2>PC</option>
                                        <option value=3>SEGUP</option>
                                        <option value=4>DETRAN</option>
                                        <option value=5>GUARDA MUNICIPAL</option>
                                        <option value=6>SEAP</option>
                                    </select>
                                    {% endif %}
                                    <input type="hidden" name="id_bop" value="{{boletim.id}}">
                                    <input type="hidden" name="imei" value="{{request.GET.imei}}">

                                    {% if usuario.instituicao == 'PC'%}
                                        <label for="id_bop_entrega">B.O Entrega:</label>
                                        <input class="form-control" mask="bop" oninput="mascara()" type="text" name="bop_entrega" autofocus="" autocapitalize="none" autocomplete="bop_entrega" maxlength="19" id="id_bop_entrega">
                                    {% else %}
                                        <label for="id">B.O Entrega:</label>
                                        <input class="form-control" mask="bop" oninput="mascara()" type="text" name="" autofocus="" autocapitalize="none" autocomplete="" maxlength="19" id="" disabled placeholder="Polícia Civil">
                                    {% endif %}
                                    <button type="submit" class="btn mt-4 w-100 btn-primary">Salvar</button>
                                </form>
                                {% endif%}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% for recuperacao in list_recuperacao %}
                    {% for registro in recuperacao %}
                        {% if boletim.id == registro.bop_delito.id and usuario.instituicao != 'PC' %}
                            <label >B.O Apresentação:</label>
                            <input class="form-control" mask="bop" oninput="mascara()" type="text" placeholder="{{registro.bop_apresentacao|default_if_none:''}}" readonly disabled maxlength="19">
                            {% for i in instituicao %}
                                {% if boletim.id == registro.bop_delito.id and  registro.id_inst_apresentacao == i.id_instituicao %}
                                    <label >Instituição Apresentação:</label>
                                    <input class="form-control" type="text" placeholder="{{i.ds_instituicao|default_if_none:''}}" readonly disabled>
                                {% else %}
                                {% endif %}
                            {% endfor %}
                            <label>B.O Entrega:</label> 
                            <input class="form-control" mask="bop" oninput="mascara()" type="text" placeholder="{{registro.bop_entrega|default_if_none:'Pendente na Polícia Civil'}}" readonly="" disabled maxlength="19">
                            <label>Data Atualização:</label> 
                            <input class="form-control" type="text" placeholder='{{registro.data_manutencao|date:"d/m/Y H:i"|default_if_none:""}}' readonly="" disabled>
                        {% elif  boletim.id != registro.bop_delito.id%}
                        {% else %}
                            {% if boletim.id == registro.bop_delito.id and registro.bop_entrega and registro.bop_apresentacao and registro.id_inst_apresentacao%}
                                <label >B.O Apresentação:</label>
                                <input class="form-control" mask="bop" oninput="mascara()" type="text" placeholder="{{registro.bop_apresentacao|default_if_none:''}}" readonly disabled maxlength="19">
                                {% for i in instituicao %}
                                    {% if boletim.id == registro.bop_delito.id and  registro.id_inst_apresentacao == i.id_instituicao %}
                                        <label >Instituição Apresentação:</label>
                                        <input class="form-control" type="text" placeholder="{{i.ds_instituicao|default_if_none:''}}" readonly disabled>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                                <label>B.O Entrega:</label> 
                                <input class="form-control" mask="bop" oninput="mascara()" type="text" placeholder="{{registro.bop_entrega|default_if_none:'Pendente na Polícia Civil'}}" readonly="" disabled maxlength="19">
                                <label>Data Atualização:</label> 
                                <input class="form-control" type="text" placeholder='{{registro.data_manutencao|date:"d/m/Y H:i"|default_if_none:""}}' readonly="" disabled>
                            {% else %}
                                <form action="{% url 'rec' %}" method="POST" class="mt-2">
                                    {% csrf_token %}
                                    <label for="id_bop_apresentacao">B.O Apresentação:</label>
                                    <input class="form-control" mask="bop" oninput="mascara()" type="text" {% if boletim.id == registro.bop_delito.id and registro.bop_apresentacao %}disabled  readonly=""{% else %} name="bop_apresentacao" autofocus="" autocapitalize="none" autocomplete="bop_apresentacao" maxlength="19" required="" id="id_bop_apresentacao" {% endif %} placeholder="{% if boletim.id == registro.bop_delito.id %}{{registro.bop_apresentacao|default_if_none:''}}{% endif%}">
                                    {% if boletim.id == registro.bop_delito.id and registro.id_inst_apresentacao %}
                                        {% for i in instituicao %}
                                            {% if boletim.id == registro.bop_delito.id and  registro.id_inst_apresentacao == i.id_instituicao %}
                                                <label >Instituição Apresentação:</label>
                                                <input class="form-control" type="text" placeholder="{{i.ds_instituicao|default_if_none:''}}" readonly disabled>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                    <label for="id_instituicao">Instituicao Apresentante:</label>
                                    <select name="instituicao" class="form-select" id="id_instituicao" required="">
                                        <option value="" selected=""></option>
                                        <option value=1>PM</option>
                                        <option value=2>PC</option>
                                        <option value=3>SEGUP</option>
                                        <option value=4>DETRAN</option>
                                        <option value=5>GUARDA MUNICIPAL</option>
                                        <option value=6>SEAP</option>
                                    </select>
                                    {% endif %}
                                    <input type="hidden" name="id_bop" value="{{boletim.id}}">
                                    <input type="hidden" name="imei" value="{{request.GET.imei}}">
                                    <label for="id_bop_entrega">B.O Entrega:</label>
                                    <input class="form-control" mask="bop" oninput="mascara()" type="text" {% if boletim.id == registro.bop_delito.id and registro.bop_entrega %}disabled  readonly=""{% else %} name="bop_entrega" autofocus="" autocapitalize="none" autocomplete="bop_entrega" maxlength="19" id="id_bop_entrega" {% endif %} placeholder="{% if boletim.id == registro.bop_delito.id %}{{registro.bop_entrega|default_if_none:''}}{% endif%}">
                                    {% if registro.data_manutencao %}
                                        <label>Data Atualização:</label> 
                                        <input class="form-control" type="text" placeholder='{{registro.data_manutencao|date:"d/m/Y H:i"|default_if_none:""}}' readonly="" disabled>
                                    {% endif %}
                                    <button type="submit" class="btn mt-4 w-100 btn-primary">Salvar</button>
                                </form>
                            {% endif %}
                        {% endif%}
                    {% endfor %}
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<a href="{% url 'home' %}" class="btn btn-primary mt-5 mx-2 mt-3">
    Nova pesquisa
</a>
{% endfor %}

{% endblock %}