{% extends 'base.html' %}
{% load static %}

{% block imports %}
<script src="{% static 'js/resultado.js' %}" defer type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center p-3">
    {% if erro %}
        <i class="bi bi-exclamation-triangle-fill text-danger" style="font-size: 50px;"></i>
        {{erro}}
    {% else %}
        <i class="bi {% if resultado|length == 0 %} bi-check-circle-fill text-success{% else %}bi-exclamation-triangle-fill text-danger{% endif %}" style="font-size: 50px;"></i>
        <span class="text-center mt-2">
            Foram encontrados <strong>{{resultado|length}}</strong> registro(s) para o <strong>IMEI</strong> {{ request.GET.imei }}
        </span>
    {% endif %}
</div>

<hr class="w-75">

{% for boletim in resultado %}
<div class="border shadow rounded text-dark my-2 w-75" style="max-width: 400px;">
    <div class="bg-danger text-white p-2 rounded-top text-center">
        {{boletim.registros|default_if_none:"Informação temporariamente indisponílvel"}}
    </div>
    <div class="p-3">
        <div><strong>Boletim:</strong> {{boletim.nro_bop}}</div>
        <div><strong>Data registro:</strong> {{boletim.data_registro|date:"d/m/Y" }}</div>
        <div><strong>Data fato:</strong> {{boletim.data_fato|date:"d/m/Y"}}</div>
        <div><strong>{{boletim.atuacao}}: </strong> {{boletim.nome_pessoa|default_if_none:"Informação temporariamente indisponílvel"}}</div>
    </div>
    {% for recuperado in list_recuperacao %}
        {% include 'recuperacao.html' %}
    {% empty %}
        {% include 'recuperacao.html' with empty='true' %}
    {% endfor %}
</div>
{% endfor %}
<a href="{% url 'home' %}" class="btn btn-danger mt-5 mx-2 mt-3">
    Nova pesquisa
</a>

{% endblock %}
